.carrusel__container {
    height: 60vh;
    background-color: $primary;
}
.carrusel__img {
    display: block;
    margin: auto;
    height: 100%;
}

@media screen and (max-width :480px) {
    .carrusel__container {
        height: 40vh;
    }
}
