header {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}
.header__icon {
    padding-inline-end: 5px;
    &:hover {
        color: black;
        transform: scale(0.9);
    }
}
.start {
    padding-inline-start: 15px;
}
.header__info {
    display: flex;
}
.header__colombia {
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}
.escudo {
    height: 100%;
}

@media screen and (max-width :768px) {
    header {
        display: none;
    }
}
@media screen and (max-width :480px) {
    header {
        display: none;
    }
}